<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
   <!-- <add name="ais" connectionString="Data Source=DESKTOP-K6R1K5I\MTYUT; Initial Catalog=12; Integrated Security=true" />-->
    <add name="ais.Properties.Settings.ais" connectionString="Data Source=DESKTOP-K6R1K5I\MTYUT; Initial Catalog=12; Integrated Security=true" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>